<h1>New Skill</h1>

<%= render 'skills/shared/form', skill: [ @resume, @resume.skills.build ] %>

<h2>Skills list</h2>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>level</th>
          <th>action</th>
        </tr>
      </thead>
      <% if @resume.skills.any? %>
        <% @resume.skills.each do |skill| %>
          <tbody>
              <td><%= skill.id %></td>
              <td><%= skill.name %></td>
              <td><%= skill.level %></td>
              <td><%= link_to "", [skill.resume, skill], class: "btn btn-danger bi bi-x-circle", data: { turbo_method: :delete } %></td>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>